<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>inStock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod: ${allProducts}">
        <td th:text="${prod.name}">Oranges</td>
        <td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}">0.99</td>
        <td th:text="${prod.inStock}">true</td>
    </tr>
    </tbody>
</table>
<a href="productform.html">Add Product</a>
</body>
</html>